.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
  transition: all 0.5s ease;
}

.mySlides {
  display: none;
  border-radius: 15px;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.9;
  }
  to {
    opacity: 1;
  }
}