* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1200px;
  position: relative;
  margin: auto;
}
#img{
  border-radius: 10px;
}
.mySlides {
  display: none;
}

.input-icons {
  width: 80%;
  margin-bottom: 16px;
}

.input-icons i {
  position: absolute;
}

.icons{
  padding: 10px;
  min-width: 20px;
  font-size: 12px;
  margin-top: 14px;
  margin-left: 660px;
}

.input-field {
  border: 1px solid black;
  padding: 10px;
  width: 300px;
  height: 30px;
  border-radius: 50px;
  text-align: start;
  padding-left: 30px;
  margin-top: 14px;
  margin-left: 660px;
}

